body {
    background-color: white;
    font-family: "Montserrat";
    text-align:center;
    width: 900px;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
        -30px 0px 40px rgba(0,0,0,0.1);
}

.titleimage {
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom: 800px;
    border-style: solid;
    border-width: thin;
    border-color: white;
    

    
}

.top img {
    width: 1300px;
    height: 300px;
    align-content: center;
    align-items: center;

}
.top h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Montserrat";
    font-size: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: black;


}

.title {
        padding-top: 300px;
        padding-bottom: 200px;
    

}
.title h2 {
    color:black;
    text-transform: capitalize;
    font-size: 25px;
    padding-top: 0px;
    padding-bottom: 150px;

}

#headerh1 p {
font-family: "Montserrat";
    font-size: 18px;

}

#headerh1 {
    margin-top: 200px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: lightgray;
    color: black;
    margin-top: -180px;
    
}

.btn {
    color: black;
    border: 2px solid black;
    
    text-decoration: none;
    font-family: "Montserrat";
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
}
.btn:hover {
    border-radius: 14px;
    letter-spacing: 5px;
    color: white;
    background-color: black;
    font-weight: 700;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.gallerytext {
background-color: ;
    margin-top: 200px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    color: white;
    margin-bottom: 75px;
}
.gallery {
    width: 900px;
    
}

#galleryimg1 {
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 500px;

}

#galleryimg2 {
    background-color: white;
color:black;
    margin-top: 550px;
        border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

#galleryimg3 {
    color:white;
        border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1000px;
    

}

#galleryimg4 {
        border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#galleryimg4 {
        border-top: 1px solid black;
    border-bottom: 1px solid black;

}
#share .btn {
   color: black;
    margin-top: 25px;
    align-content: center;
    text-align: center;
}
#share .btn:hover {
    color: white;
}
.gallery {
    margin-bottom: 50px;
}

#share {
    margin-bottom: 50px;
}

#pnumber {
    font-family: "Montserrat";
    font-size: 13px;
}
#email {
        font-family: "Montserrat";
    font-size: 13px;
}
.footer {
    margin-top: 50px;
    background-color: lightgray;
}

#butt {
    margin-top: -120px;
    padding-bottom: 50px;

}

#butt2 {
    margin-top: 130px;
    margin-bottom: 130px;
   
}
 
#butt3 {
    margin-top: 130px;
    margin-bottom: 130px;
    
    
}
    

}

#mid {
    background-color: lightgray;
}
